@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.show-detail-wrapper {
  display: inline-block;
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .poster-wrapper {
    @include cover-img();
    display: inline-block;
    width: 26%;
    height: 385px;
    vertical-align: top;
  }

  .info-wrapper {
    display: inline-block;
    margin-left: 3%;
    width: 70%;
    height: 100%;
    min-height: 385px;
    vertical-align: top;
  }

  .show-title {
    color: $grey;
    font-size: 18px;
    font-weight: 500;
  }

  .show-info {
    margin-top: 12px;
    color: $medium-grey;
    font-size: 14px;
  }

  .price {
    margin-top: 30px;
    //margin-left: 5px;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;

    img {
      vertical-align: sub;
    }
  }

  .chosen-price-wrapper {
    display: inline-block;

    .chosen-price {
      display: inline-block;
      margin-top: 10px;
      //border: 1px solid $main-color;
      font-size: 14px;
      color: $grey;
    }

  }

  button {
    float: right;
    //margin-right: 10%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    color: $white-color;
    background-color: $main-color;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    @include transition(all, 0.3s);

    &:hover {
      @include transition(all, 0.3s);
      background-color: $sub-color;
    }
  }
}

.show-info-wrapper {
  display: inline-block;
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  pre {
    color: $grey;
    font-family: $base-font-family;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

/deep/ .el-checkbox-group {
  display: inline-block;
  //margin-top: 20px;
  margin-bottom: 10px;
}

/deep/ .el-checkbox__input {
  display: none;
}

/deep/ .el-checkbox.is-bordered.el-checkbox--small .el-checkbox__label {
  padding: 0;
}

/deep/ .el-input-number {
  margin-left: 40px;
  margin-right: 20px;
  width: 120px;
}

/deep/ .el-checkbox.is-bordered {
  height: 31px;
  padding: 5px 20px 5px 20px;
}

/deep/ .el-input-number__increase, /deep/ .el-input-number__decrease, /deep/ .el-input-number__decrease.is-disabled, /deep/ .el-input-number__increase.is-disabled {
  //margin-right: 35px;
  background: none;
  border: none;
}

/deep/ .el-input-number .el-input__inner {
  height: 30px;
  border-radius: 100px;
}

