@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.list-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;
}
