$background-color: #f6f6f6;
$white-color: #ffffff;
$main-color: #e9a038;
$sub-color: #f1a63a;
$grey: #595959;
$medium-grey: #848484;
$light-grey: #bababa;
$alter-light-grey: #eeeeee;
$green-color: #7abd78;
$sub-green-color: #88D285;
$border-color: #e8e8e8;

$area-red:#ffa171;
$area-yellow: #ffcf53;
$area-green: #add478;

$tag-blue: #409eff;
$tag-purple: #b59bff;
$tag-red: #f56c6c;
$tag-green: #67c23a;
$tag-yellow: #e6a23c;
$tag-grey: #909399;

$base-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$base-font-size: 18px;

//$title-black-color: #4A4A4A;
//$main-font-color: #3D5673;
//$sub-font-color: #81B6F5;
//$page-foot-color: #474457;
//$blue-grey-color: #9FAEC0;
//$card-border-color: #979797;

$card-background: rgba(255, 255, 255, 0.95);
