@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.modal-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 3px;
  background-color: $white-color;

  h1 {
    font-size: 22px;
    font-weight: 400;
    color: $grey;
  }

  .stage-p {
    font-size: 18px;
    font-weight: 400;
    color: $grey;
    border: solid 1px $grey;
  }

  /deep/ .area-1-p {
    font-size: 12px;
    font-weight: 400;
    color: $area-red;
  }

  /deep/ .area-2-p {
    margin-top:  10px;
    font-size: 12px;
    font-weight: 400;
    color: $area-yellow;
  }

  /deep/ .area-3-p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: $area-green;
  }

  .el-button {
    //width: 10px;
    //height: 10px;
    background: none;

    i {
      color: $light-grey;
      font-size: 10px;

      &:hover {
        color: $light-grey;
      }
    }
  }

  /deep/ .el-checkbox-group {
    display: block;
    margin-top: 10px;
  }

  /deep/ .el-checkbox + .el-checkbox {
    margin: 0;
  }

  .area-1-box {
    /deep/ .el-checkbox__inner {
      border-color: $area-red;
    }
    /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: $area-red;
    }
  }

  .area-2-box {
    /deep/ .el-checkbox__inner {
      border-color: $area-yellow;
    }
    /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: $area-yellow;
    }
  }

  .area-3-box {
    /deep/ .el-checkbox__inner {
      border-color: $area-green;
    }
    /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: $area-green;
    }
  }

  .chosen-seat {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;

    .chosen-seat-button {
      height: 12px;
      width: 12px;
      border: none;
      border-radius: 2px;
    }

    .seat-1 {
      background-color: $area-red;
    }

    .seat-2 {
      background-color: $area-yellow;
    }

    .seat-3 {
      background-color: $area-green;
    }
  }

  .seat-1 {
    color: $area-red;
  }

  .seat-2 {
    color: $area-yellow
  }

  .seat-3 {
    color: $area-green
  }

  .confirm-button-wrapper {
    display: inline-block;
    float: right;
    .confirm-button {
      //display: inline-block;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $main-color;
      color: $white-color;
      cursor: pointer;
      @include transition(all, 0.3s);

      &:hover {
        @include transition(all, 0.3s);
        background-color: $sub-color;
      }
    }
  }

}
