@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.register-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $white-color;

  /deep/ .el-steps--simple {
    background: none;
  }

}
