@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.list-wrapper {
  display: inline-block;
  //padding: 30px;
  margin-top: 40px;
  width: 100%;

  /deep/ .el-col {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .pagination {
    width: 100%;
    text-align: center;
  }
  /deep/ .el-pagination {
    display: inline-block;
    margin: 30px auto 0;
  }
}
