@import "../assets/scss/variables";
@import "../assets/scss/base";
@import "../assets/scss/mixin";

.container {
  text-align: center;
}

.button-wrapper {
  display: inline-block;
  margin: 200px auto;
  text-align: center;
}

button {
  padding: 5px 25px;
  background-color: $main-color;
  border-radius: 100px;
  color: $white-color;
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
  @include transition(all, 0.5s);
  &:hover {
    @include transition(all, 0.5s);
    background-color: $sub-color;
  }

  &:first-child {
    margin-right: 100px;
  }
}
