html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 300;
  list-style: none; }

html {
  height: 100%; }

* {
  position: relative;
  box-sizing: border-box; }

button {
  outline: none; }

/*
 * grid
 */
html .body-wrapper {
  width: 100%;
  min-height: 600px;
  height: 100%;
  background: #f6f6f6; }
html .container {
  width: 1000px;
  margin: 0 auto; }
  html .container:after {
    content: '';
    display: block;
    clear: both; }
@media (max-width: 1000px) {
  html .container {
    width: 100%; } }
html .el-input__inner {
  height: 30px;
  border-radius: 100px;
  border: #bababa solid 1px;
  color: #595959;
  font-size: 12px; }
  html .el-input__inner::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-input__inner:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-input__inner::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-input__inner:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-input__inner:hover, html .el-input__inner:focus {
    border: #e9a038 solid 1px;
    color: #595959; }
html .el-input__icon {
  color: #e9a038;
  line-height: 0; }
html .el-input__icon.is-clickable:hover {
  color: #e9a038; }
html .el-input__icon.is-clickable:hover + .el-input__inner {
  border-color: #e9a038; }
html .el-textarea__inner {
  border-radius: 100px;
  color: #595959;
  font-size: 12px; }
  html .el-textarea__inner::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-textarea__inner:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-textarea__inner::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-textarea__inner:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bababa;
    font-size: 12px;
    font-weight: 400; }
  html .el-textarea__inner:hover, html .el-textarea__inner:focus {
    border: #e9a038 solid 1px;
    color: #595959; }
html .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #e9a038; }
html .el-checkbox__inner:hover {
  border-color: #e9a038; }
html .el-checkbox.is-bordered.is-checked {
  border-color: #e9a038; }
html .el-checkbox__input.is-checked .el-checkbox__inner, html .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #e9a038;
  border-color: #e9a038; }
html .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #e9a038; }
html .el-radio__input.is-checked .el-radio__inner {
  background-color: #e9a038;
  border-color: #e9a038; }
html .el-radio__input.is-checked + .el-radio__label {
  color: #606266; }
html .el-radio.is-bordered.is-checked {
  border-color: #e9a038; }
html .el-select .el-input.is-focus .el-input__inner {
  border-color: #e9a038; }
html .el-select-dropdown__item.selected {
  color: #e9a038; }
html .el-input-number__decrease:hover, html .el-input-number__increase:hover {
  color: #e9a038; }
html .el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled), html .el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
  border-color: #e9a038; }
html .el-date-table td.today span, html .el-date-table td.available:hover {
  color: #e9a038; }
html .el-date-table td.current:not(.disabled) span {
  background-color: #e9a038; }
html .el-button--text, html .el-button--text:focus, html .el-button--text:hover, html .el-button.is-plain:focus, html .el-button.is-plain:hover {
  color: #e9a038; }
html .el-button.is-plain:focus, html .el-button.is-plain:hover {
  border-color: #e9a038; }
html .el-picker-panel__icon-btn:hover {
  color: #e9a038; }

/*# sourceMappingURL=index.css.map */
