@import "./assets/scss/variables";
@import "./assets/scss/base";
@import "./assets/scss/mixin";

html {
  .body-wrapper {
    width: 100%;
    min-height: 600px;
    height: 100%;
    background: $background-color;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
  }

  .container {
    width: 1005px;
    margin: 0 auto;
    @include clear-fix();
  }

  @media (max-width: 1005px) {
    .container {
      width: 100%;
    }
  }

  //search input style
  .el-input__inner {
    height: 30px;
    border-radius: 100px;
    border: $light-grey solid 1px;
    color: $grey;
    font-size: 12px;

    @include placeholder($light-grey, 12px, 400);

    &:hover, &:focus {
      border: $main-color solid 1px;
      color: $grey;
    }
  }

  .el-input__icon {
    color: $main-color;
    line-height: 0;
  }

  .el-input__icon.is-clickable:hover {
    color: $main-color;
  }

  .el-input__icon.is-clickable:hover + .el-input__inner {
    border-color: $main-color;
  }

  //checkbox style
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: $main-color
  }

  .el-checkbox__inner:hover {
    border-color: $main-color;
  }

  .el-checkbox.is-bordered.is-checked {
    border-color: $main-color;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $main-color;
    border-color: $main-color;
  }

}
