@import "../../assets/scss/variables";


/deep/ .type-filter {
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: $alter-light-grey;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
