@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.nav-wrapper {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: $white-color;
  box-shadow: 0px 1px 3px $light-grey;

  .left-wrapper {
    display: inline-block;
    padding-top: 16px;
    border-radius: 3px;
    cursor: pointer;

    img {
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      margin: 0 10px;
      font-size: 22px;
      color: $main-color;
      vertical-align: middle;
    }
  }

  .right-wrapper {
    display: inline-block;
    padding-top: 16px;
    float: right;

    .input-wrapper {
      display: inline-block;
      padding-right: 20px;
      margin-left: 70px;
      /deep/ .el-input__inner {
        width: 300px;
      }
      .search-input /deep/ .el-input__icon {
        z-index: 1;
      }
    }

    .button-wrapper {
      display: inline-block;
      .el-button, .el-dropdown {
        padding-left: 30px;
        font-size: 15px;
        font-weight: 400;
        color: $grey;
        @include transition(all .5s);

        &:hover {
          @include transition(all .5s);
          color: $main-color;
        }

        img {
          vertical-align: middle;
          margin-right: 5px;
        }

        /deep/ .el-icon-caret-bottom:before {
          font-size: 10px;
          color: $medium-grey;
        }
      }
    }
  }
}

li {
  padding: 2px 10px;
  width: 150px;
  font-size: 14px;
  color: $grey;

  &:hover {
    background-color: $background-color;
  }
}

.el-dropdown {
  margin-left: 10px;
}

.el-dropdown-menu {
  margin-top: 5px;
  margin-left: 20px;
}

.el-dropdown-menu__item:not(.is-disabled) {
  @include transition(all .5s);
  &:hover {
    @include transition(all .5s);
    background-color: $background-color;
    color: $main-color;
  }
}
