@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.venue-statistics-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .demo-table-expand {
    font-size: 0;
  }

  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }

  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }

}
