@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.manager-approval-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .approve-list {
    max-height: 600px;
    overflow: auto;
  }
}
